@import 'styles/_fonts.scss';
@import 'styles/_vars.scss';

.dropdown {
  text-align: left;
  width:100%;
  max-width: 180px;
  position: absolute;
  top:10px;
  left:0px;
  z-index: 10;
  display: inline-block;
  background-color: $itemColor;
  border-radius: 8px;
  padding: 11px 17px;
  font-family: $font;
  color: #ffff;
  font-size: 0.875em;
  cursor: pointer;
  .filterTitle {
    font-weight: 400;
  }
  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .iconOpened {
      transform: rotate(180deg);
    }
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin-top: 0.5em;
  }
}

li a {
  text-decoration: none;
}
